<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista de Quizzes:</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<h1>
    Lista de Quizzes:
</h1>

<a href="/">Home</a>
<a href="/credits">Credits</a>
<a href="/quizzes"> Quizzes </a>

<% for (var i in quizzes) { %>
<% var quiz = quizzes[i]; %>
<ul>
    <li><%= quiz.question %>: <%= quiz.answer %></li>
</ul>
<% } %>
</body>